<section class="w-1/2 mx-auto bg-gray-50 rounded border shadow p-4 dark:bg-gray-900 dark:text-gray-400 ">
  <h2 class="text-3xl font-light text-center mb-3 text-green-700 capitalize">
    {{ "auth.forgotPassword" | translate }}
  </h2>

  @if (step == 1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
    <div class="mb-1">

      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "auth.email" | translate }}</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-700 dark:focus:border-green-700"
      />
    </div>
    <button [disabled]="verifyEmail.invalid" type="submit" class="btn-main">
      {{ "auth.verifyEmail" | translate }}
    </button>
  </form>

  }@else if (step == 2) {
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    <div class="mb-1">

      <label
        for="resetCode"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "auth.resetCode" | translate }}</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-700 dark:focus:border-green-700"
      />
    </div>
    <button [disabled]="verifyCode.invalid" type="submit" class="btn-main">
      {{ "auth.verifyCode" | translate }}
    </button>
  </form>

  }@else if (step == 3) {
  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
    <div class="mb-1">

      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "auth.email" | translate }}</label
      >
      <input
        readonly
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-700 dark:focus:border-green-700"
      />
    </div>
    <div class="mb-1">

      <label
        for="newPassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "auth.newPassword" | translate }}</label
      >
      <input
        formControlName="newPassword"
        type="newPassword"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-700 dark:focus:border-green-700"
      />
    </div>
    <button [disabled]="resetPassword.invalid" type="submit" class="btn-main">
      {{ "auth.resetPassword" | translate }}
    </button>
  </form>

  }
</section>
