


<section class="main-container">
  <h2 class="pb-4 text-4xl">{{ "home.all" | translate }} <span class=" text-green-700">{{ "home.brands" | translate }}</span></h2>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (brand of brands; track brand._id) {
    <div
      class="card border border-green-400/50 rounded-md overflow-hidden shadow-lg relative"
    >
      <div >
        <div class="card-img">
          <img
            [src]="brand.image"
            class="w-full h-[150px] object-contain"
            [alt]="brand.slug"
          />
        </div>
        <div class="card-body px-2 py-4">
          <h4 class="text-green-500 text-lg">{{ brand.name }}</h4>


        </div>
      </div>

    </div>
    }
  </div>
</section>
